<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>热门</string>
		<key>cid</key>
		<string>0</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=0&amp;size=30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>推荐</string>
		<key>cid</key>
		<string>0</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=0&amp;size=30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>cid</key>
		<string>101000000</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=101000000&amp;size=30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>创投</string>
		<key>cid</key>
		<string>101040000</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=101040000&amp;size=30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数码</string>
		<key>cid</key>
		<string>101050000</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=101050000&amp;size=30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>技术</string>
		<key>cid</key>
		<string>20</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=20&amp;size=30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>设计</string>
		<key>cid</key>
		<string>108000000</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=108000000&amp;size=30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>营销</string>
		<key>cid</key>
		<string>114000000</string>
		<key>urlstring</key>
		<string>http://api.tuicool.com/api/articles/hot.json?cid=114000000&amp;size=30</string>
	</dict>
</array>
</plist>
